@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Regular.eot');
  src: local('Mark-Regular'),
      url('/fonts/mark/Mark-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Regular.woff2') format('woff2'),
      url('/fonts/mark/Mark-Regular.woff') format('woff'),
      url('/fonts/mark/Mark-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Extralight.eot');
  src: local('Mark-Extralight'),
      url('/fonts/mark/Mark-Extralight.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Extralight.woff2') format('woff2'),
      url('/fonts/mark/Mark-Extralight.woff') format('woff'),
      url('/fonts/mark/Mark-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Extralight-Italic.eot');
  src: local('Mark-Extralight-Italic'),
      url('/fonts/mark/Mark-Extralight-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Extralight-Italic.woff2') format('woff2'),
      url('/fonts/mark/Mark-Extralight-Italic.woff') format('woff'),
      url('/fonts/mark/Mark-Extralight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Light.eot');
  src: local('Mark-Light'),
      url('/fonts/mark/Mark-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Light.woff2') format('woff2'),
      url('/fonts/mark/Mark-Light.woff') format('woff'),
      url('/fonts/mark/Mark-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Light-Italic.eot');
  src: local('Mark-Light-Italic'),
      url('/fonts/mark/Mark-Light-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Light-Italic.woff2') format('woff2'),
      url('/fonts/mark/Mark-Light-Italic.woff') format('woff'),
      url('/fonts/mark/Mark-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mark-Book';
  src: url('/fonts/mark/Mark-Book.eot');
  src: local('Mark-Book'),
      url('/fonts/mark/Mark-Book.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Book.woff2') format('woff2'),
      url('/fonts/mark/Mark-Book.woff') format('woff'),
      url('/fonts/mark/Mark-Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mark';
  src: url('/fonts/mark/Mark-Bold.eot');
  src: local('Mark-Bold'),
      url('/fonts/mark/Mark-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/mark/Mark-Bold.woff2') format('woff2'),
      url('/fonts/mark/Mark-Bold.woff') format('woff'),
      url('/fonts/mark/Mark-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.textCenter {
  text-align: center;
}
.aboutMe {
  width: 90%;
  max-width: 1480px;
  background: rgba(76, 76, 76, 80%);
  padding: 15% 10%;
  text-align: center;
  margin: auto;
}
.footer {position: relative;}
.footerText {
  margin: 20% auto;
  padding: 10%;
}
.bottomBar {
  position: relative;
}
p.copyrightText {
  font-family: Mark-light;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: 100;
}
.tableMountain {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  margin-bottom: 0;
}
.footerText .btn {
  margin: 3em auto 0;
}

@media screen and (min-width:768px){
  .aboutMe {
    padding: 5%;
  }
  .aboutMe .btn {
    text-align: center;
    margin: 1em auto;
  }
  .footerText {
    width: 80%;
    max-width: 1480px;
    margin: auto;
    padding: 5% 0;
  }
  .footerText .btn {
    margin: 1em auto 0;
  }
}




/* Animation credit: Marc Rowley (https://codepen.io/Mark_Bowley/) */
#header-clouds {
	position: absolute;
	max-width: 100%;
}
/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 38s linear infinite;
	-moz-animation: animateCloud 38s linear infinite;
	animation: animateCloud 38s linear infinite;

	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
	position: absolute;
    z-index: 0;
    top: 80px;
}

.x2 {
	-webkit-animation: animateCloud 50s linear infinite;
	-moz-animation: animateCloud 50s linear infinite;
	animation: animateCloud 50s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
	position: absolute;
	bottom: 70px;
	z-index: 8;
}

.x3 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
	position: absolute;
	bottom: 0;
}
@media screen and (min-width: 768px) {
    .x1 {
        bottom: -100px;
    }
    .x3 {
        bottom: -70px;
    }
}
/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* KEYFRAMES */

@-webkit-keyframes animateBird {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateBird {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateBird {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes upDown {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 50px;
    }
}

@-moz-keyframes upDown {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 50px;
    }
}

@keyframes upDown {
    0% {
        padding-top: 0px;
    }
    100% {
        padding-top: 50px;
    }
}

@-webkit-keyframes wing {
    0% {
        bottom: 30px;
    }
    100% {
        bottom: 40px;
    }
}

@-moz-keyframes wing {
    0% {
        bottom: 30px;
    }
    100% {
        bottom: 40px;
    }
}

@keyframes wing {
    0% {
        bottom: 30px;
    }
    100% {
        bottom: 40px;
    }
}

@-webkit-keyframes beakTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@-moz-keyframes beakTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes beakTop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@-webkit-keyframes beakBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@-moz-keyframes beakBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

@keyframes beakBottom {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

/* ANIMATIONS */
.bird-container {
	-webkit-animation: animateBird 48s linear infinite reverse, upDown 1s ease-in-out infinite alternate;
	-moz-animation: animateBird 48s linear infinite reverse, upDown 1s ease-in-out infinite alternate;
	animation: animateBird 48s linear infinite reverse, upDown 1s ease-in-out infinite alternate;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	position: absolute;
	bottom: 0;
	z-index: 9;
}

/* OBJECTS */
.bird {
	background: #fff;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 120px;
}

.bird:before, .bird:after {
	content: "";
	position: absolute;
}

.bird:before {
    -webkit-animation: wing 0.2s ease-in-out infinite alternate;
	-moz-animation: wing 0.2s ease-in-out infinite alternate;
	animation: wing 0.2s ease-in-out infinite alternate;

    background: #e0e0e0;

	-webkit-border-radius: 20% 0 50% 50%;
	-moz-border-radius: 20% 0 50% 50%;
	border-radius: 20% 0 50% 50%;

	height: 20px;
	right: 0px;
	width: 60px;
}

.bird:after {
    background: #fff;
	height: 20px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 10px 5px #555 inset;
	-moz-box-shadow: 0 10px 5px #555 inset;
	box-shadow: 0 10px 5px #555 inset;

	left: 30px;
	top: 30px;
	width: 20px;
}

.beak:before, .beak:after {
    content: "";
    position: absolute;
	z-index: -1;
}

.beak:before {
    -webkit-animation: beakTop 0.3s ease-in-out infinite alternate;
	-moz-animation: beakTop 0.3s ease-in-out infinite alternate;
	animation: beakTop 0.3s ease-in-out infinite alternate;

	border-bottom: 30px solid #ffde00;
	border-left: 30px solid transparent;
	height: 0;
	left: -10px;
    top: 30px;
	width: 0;
}

.beak:after {
    -webkit-animation: beakBottom 0.3s ease-in-out infinite alternate;
	-moz-animation: beakBottom 0.3s ease-in-out infinite alternate;
	animation: beakBottom 0.3s ease-in-out infinite alternate;

    border-top: 30px solid #ff9200;
	border-left: 30px solid transparent;
	height: 0;
	left: -10px;
    top: 60px;
	width: 0;
}